{% extends 'lessons/base.html' %}
{% block content %}
<section id="content_area">
			<div class="clearfix wrapper main_content_area">

				<div class="clearfix main_content floatleft">

					<div class="clearfix content">
						<div class="content_title"><h2>Mavzular:</h2></div>

						<div class="clearfix single_content">
							<div class="clearfix post_date floatleft">
								<div class="date">
									<h3>27</h3>
									<p>January</p>
								</div>
							</div>
							<div class="clearfix post_detail">
                                {% for item in lesson  %}
								<h2><a href=""> {{item.theme}}</a></h2>

								<div class="clearfix post_excerpt">

									<p>{{item.content}} </p>
								</div>
								<a href="">Continue Reading</a>
                                {% endfor %}
							</div>
						</div>

					</div>

					<div class="pagination">
						<nav>
							<ul>
								<li><a href=""> << </a></li>
								<li><a href="">1</a></li>
								<li><a href="">2</a></li>
								<li><a href="">3</a></li>
								<li><a href="">4</a></li>
								<li><a href=""> >> </a></li>
							</ul>
						</nav>
					</div>
				</div>
				<div class="clearfix sidebar_container floatright">


					<div class="clearfix sidebar">

						<div class="clearfix single_sidebar category_items">
							{% block category %}
							<h2>Categories</h2>
							<ul>
								{% for item in categories %}
								<li class="cat-item"><a href="{% url 'category_detail' item.pk %}">{{ item.name }}</a>(12)</li>
								{% endfor %}
							</ul>
							{% endblock %}
						</div>
						<div class="clearfix single_sidebar">
							<div class="popular_post">
								<div class="sidebar_title"><h2>Mavzular:</h2></div>
								<ul>
									{% for item in subcategory %}
										<li><a href="{% url 'subcategory_detail' item.pk %}">{{ item.name }}</a></li>
									{% endfor %}
								</ul>
							</div>
							</div>
						<div class="clearfix newsletter">
						<form>
							<h2>Signup for newsletter</h2>
							<input type="text" placeholder="Name" id="mce-TEXT"/>
							<input type="email" placeholder="Name" id="mce-EMAIL"/>
							<input type="submit" value="Submit" id="mc-embedded-subscribe"/>
						</form>
					</div>

					</div>
				</div>
			</div>
		</section>
{% endblock %}